:root {
  --blue: rgb(0, 81, 255);
  --red: rgb(230, 21, 21);
  --black: black;
  --gray: rgb(36, 36, 36);
  --warning: rgb(255, 251, 0);
  --white: white;
  --borderEffects: rgb(255, 166, 0);
  --effects: yellow;
}
main {
  background-image: url(img/wallpaper02.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
}

@media screen and (max-width: 740px) {
  main {
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .banner {
    background-image: url(https://p2.trrsf.com/image/fget/cf/1200/1200/middle/images.terra.com/2023/09/19/lies-of-p-capa-ure1w0wgncqb.jpg);
    background-position: center;
    padding: 22px;
  }
  .banner h2 {
    font-size: 4rem;
  }
  .banner p {
    padding: 28px;
    font-size: 2rem;
  }
  p,
  span,
  li,
  a,
  button {
    font-size: 1.2rem;
  }
  .quizPuzzle {
    display: flex;
    flex-direction: column;
  }
  .quizPuzzle p {
    width: 80%;
    text-align: justify;
  }
  span {
    text-align: center;
  }
  .linksYoutube {
    flex-direction: column;
  }
}
@media screen and (min-width: 720px) {
  main {
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    align-items: center;
  }
  .banner {
    background-image: url(img/wallpaper01.png);
    padding: 80px;
    background-position: center;
  }
  .banner p {
    font-size: 2rem;
    margin-top: 8rem;
  }
  .banner h2 {
    font-size: 8rem;
  }
  .details li {
    width: fit-content;
    margin: 30px;
    background-color: rgb(0, 0, 0);
    border: var(--blue) 4px solid;
    border-radius: 50px;
    color: var(--white);
  }
  .quizPuzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quizPuzzle p {
    text-align: center;
    padding: 20px;
  }
  p,
  span,
  li,
  a,
  button {
    font-size: 1.4rem;
  }
}
.banner {
  border-bottom: 8px solid;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.banner h1 {
  padding: 10px;
}
.banner h2 {
  font-style: italic;
}
.banner p {
  color: var(--white);
  text-align: center;
}
.details li {
  font-size: 1.8rem;
  padding: 10px;
  list-style: none;
}
.details li::before {
  content: "\2022";
  color: red;
  margin-right: 1rem;
}
.banner h3,
h4 {
  font-size: 1rem;
  color: var(--white);
}
.quizPuzzle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quizPuzzle p {
  line-height: 1.8rem;
  line-break: anywhere;
}
.buttons {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 20px;
}
.linksYoutube {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 28px;
}

.linksYoutube li a {
  text-decoration: none;
}
